$light: hsla(0, 0%, 100%, 0.9);
$primary: #373537;
$secondary: #E2E2E2;

body {
  font-family: 'Raleway', 'Segoe UI', sans-serif !important;
}

.active {
  font-weight: 700 !important;
}

@import './node_modules/bootstrap/scss/bootstrap.scss';
