<<<<<<< HEAD
$primary: #373537;
$secondary: #E2E2E2;
=======
$primary: #373737;
>>>>>>> 801d30ef6f80a98828a5eec97df20dc7e8545e17

body {
  font-family: 'Raleway', 'Segoe UI', sans-serif !important;
}

<<<<<<< HEAD
.active {
  font-weight: 700 !important;
}

@import './node_modules/bootstrap/scss/bootstrap.scss';
=======
@import '../node_modules/bootstrap/scss/bootstrap.scss'
>>>>>>> 801d30ef6f80a98828a5eec97df20dc7e8545e17
